<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- fixedAddress -->
    <!--
    <bean id="userService" class="com.demo.thrift.ThriftServiceClientProxyFactory">
        <property name="service" value="com.demo.service.UserService"></property>
        <property name="serverAddress" value="127.0.0.1:9090:2"></property>
        <property name="maxActive" value="5"></property>
        <property name="idleTime" value="10000"></property>
    </bean>
    -->

    <!-- zookeeper -->
    <bean id="thriftZookeeper" class="com.demo.thrift.zookeeper.ZookeeperFactory" destroy-method="close">
        <property name="connectString" value="127.0.0.1:2181"></property>
        <property name="namespace" value="demo/thrift-service"></property>
    </bean>
    <bean id="userService" class="com.demo.thrift.ThriftServiceClientProxyFactory" destroy-method="close">
        <property name="service" value="com.demo.service.UserService"></property>
        <property name="maxActive" value="5"></property>
        <property name="idleTime" value="1800000"></property>
        <property name="addressProvider">
            <bean class="com.demo.thrift.support.impl.DynamicAddressProvider">
                <property name="configPath" value="UserServiceImpl"></property>
                <property name="zookeeper" ref="thriftZookeeper"></property>
            </bean>
        </property>
    </bean>
</beans>