<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- fixedAddress -->
    <!--
    <bean id="userService" class="com.demo.thrift.ThriftServiceClientProxyFactory">
        <property name="service" value="com.demo.service.UserService"></property>
        <property name="serverAddress" value="127.0.0.1:9090:2"></property>
        <property name="maxActive" value="5"></property>
        <property name="idleTime" value="10000"></property>
    </bean>
    -->

    <!-- zookeeper   -->
    <bean id="thriftZookeeper" class="com.learning.thrift.ZookeeperFactory"
          destroy-method="close">
        <property name="zkHosts"
                  value="192.168.36.54:2181,192.168.36.99:2181,192.168.36.189:2181" />
        <property name="namespace" value="cn.slimsmart.thrift.rpc.demo" />
        <property name="connectionTimeout" value="3000" />
        <property name="sessionTimeout" value="3000" />
        <property name="singleton" value="true" />
    </bean>

    <bean id="echoSerivce" class="com.learning.thrift.ThriftServiceClientProxyFactory" destroy-method="close">
        <property name="maxActive" value="5" />
        <property name="idleTime" value="1800000" />
        <property name="serverAddressProvider">
            <bean class="com.learning.thrift.ThriftServerAddressProviderZookeeper">
                <property name="service" value="cn.slimsmart.thrift.rpc.demo.EchoSerivce" />
                <property name="version" value="1.0.0" />
                <property name="zkClient" ref="thriftZookeeper" />
            </bean>
        </property>
    </bean>
</beans>